*{/*enleve les marges sur toute la page*/
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
}
header{
    background-color: #9966ff;
    height: 100px;
    box-shadow: 0 1px 5px grey;
}

h1{
    font-family: 'Acme', sans-serif;
    text-align: center;
    line-height: 100px;
    color: white;
}

/*contenu de la calculatrice*/
.calculatrice{
    font-family: 'Acme', sans-serif;
    display: flex;
    width : 500px;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
}

#champChiffre1{
    font-family: 'Acme', sans-serif;
    text-align: center;
    font-size: 3em;
    width: 300px;
    height: 100px;
    margin: auto;
    margin-bottom: 10px;
    border : 1px solid grey;
    box-shadow: 0 0 0;
    transition: box-shadow 1s;
    
}
#champChiffre1:hover{
    box-shadow: 0 0 10px grey;
}

.liste{
    font-family: 'Acme', sans-serif;
    font-size: 2em;
    text-align: center;
    width: 300px;
    height: 50px;
    margin: auto;
    margin-bottom: 10px;
}

#champChiffre2{
    font-family: 'Acme', sans-serif;
    text-align: center;
    font-size: 3em;
    width: 300px;
    height: 100px;
    margin: auto;
    margin-bottom: 10px;
    border : 1px solid grey;
    box-shadow: 0 0 0;
    transition: box-shadow 1s;
}
#champChiffre2:hover{
    box-shadow: 0 0 10px grey;
}

#calcul{
    font-family: 'Acme', sans-serif;
    font-size: 2em;
    text-align: center;
    width: 150px;
    height: 50px;
    margin: auto;
    margin-bottom: 10px;
}

#resultat {
    font-family: 'Acme', sans-serif;
    font-size: 4em;
    width: 300px;
    height: 150px;
    margin: auto;
    text-align: center;
    border : 2px solid rgb(82, 201, 27);
}

.reset{
    font-family: 'Acme', sans-serif;
    width : 100px;
    height : 50px;
    margin: auto;
    margin-top: 10px;
    background-color: #ffffff00;
    border: 1px solid #ff0000;
}